<h1> Create a Username </h1>

<%= form_tag("/user/username/update", :method => :post) %>
	Username:<br>
	<%= text_field_tag :username, params[:username], placeholder: 'username' %> <br>
	<%= submit_tag "Create" %>