/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Chelsea+Market|Nanum+Gothic');

body{
  background-color: #ffffff;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
   font-size: 2.5em;
   align: center;
   text-align: center;
   color: #362B27;
   margin: 2em 0 0 0;
 }

h2 {
   text-align: center;
   align: center;
   font-size: 2em;
 }

 h3 {
    text-align: center;
    align: center;
    font-size: 1.5em;
  }


 a {
   text-decoration: none;
   color: #657263;
   font-family: 'Nanum Gothic', sans-serif;
   display: block;
   background-color: #F3C291;
   width: auto;
   align: left;
   padding: 1em;
   font-size: 1.25em;
 }

 a:hover{
   color: #A74038;
 }

 p {
   text-align: center;
   align: center;
 }



nav {
  margin: 0;
  padding: 0;
  background-color: #EBDCC5;
  width: 100%;
 }

 nav a {
   margin: 0;
   padding: .5em 0em .5em 0em;
   text-align: center;
   font-size: 1.5em;
   display: inline-block;
   width: 14.3%;
   background-color: #EBDCC5;
 }

 nav a:hover {
   background-color: #DA8155;
   color: #EBDCC5;
 }

 .prod {
   margin: 20px;
   background-color: #DA8155;
   color: white;
 }

 .prod img {
   width: 100%;
   display: inline-block;
   align: center;
 }



#header {
  background-color: #A74038;
  margin: 0;
  width: 100%;
}

#page-name {
  font-family: 'Chelsea Market', sans-serif;
  text-align: center;
  font-size: 4em;
  color: #F7F5F5;
  padding: .5em 0em .5em 0em;
  margin: 0;
}


#products {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  padding: 10px;
}
