<h1> Product Details </h1>
<p><%= link_to 'Go Home', home_path %></p>
<h4> Item: <%= @product.name %> </h4>
<td><%= link_to "Write a Review", review_path %></td><br>
<td><%= link_to "Purchase", transaction_path %></td><br>